# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "69ad99f341010b3d9dbce656c4062b47"
name = "countdown-app"
application_url = "https://keywords-cocktail-enzyme-specialist.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://keywords-cocktail-enzyme-specialist.trycloudflare.com/api/auth" ]
